body {
  font-family: 'Fredoka', sans-serif;
  padding: 10px;
  background-color: var(--background);
  color: var(--text);
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 16px;
  line-height: 1.5;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 10px;
  background-color: #222;
  border: 1px solid #444;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.dates {
  position: absolute;
  top: 10;
  margin-top: 50px;
}

td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #444;
}

tr:nth-child(even) {
  background-color: #1a1a1a;
}

.add { color: #2ecc71; }
.remove { color: #e74c3c; }
.update { color: #3498db; }
.sound { color: #b700ff; }
.blocked { color: #bdc3c7; }

table.changelog-key {
  border-collapse: collapse;
  font-size: 14px;
  margin: 20px auto 0;
}

table.changelog-key th {
  text-align: left;
  font-weight: bold;
  padding: 5px;
  background-color: #222;
  border: 1px solid #444;
}

table.changelog-key td {
  padding: 5px;
  border: 1px solid #444;
}


/* Style for "add" cells */
.add {
  color: #2ecc71;
}

/* Style for "remove" cells */
.remove {
  color: #e74c3c;
}

/* Style for "update" cells */
.update {
  color: #3498db;
}

/* Style for "soundboard" cells */
.sound {
  color: #b700ff;
}

/* Style for "blocked" cells */
.blocked {
  color: #bdc3c7;
}
