@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Fredoka', sans-serif;
}
.bg video,
.bg img {
	filter: brightness(90%);
	object-fit: contain;
	width: max(120vw, 120vh);
	height: max(120vw, 120vh);
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}
.content {
	z-index: 2;
	display: flex;
	position: relative;
	align-items: center;
	height: 100vh;
	margin: -8px;
	flex-direction: column;
	color: var(--text);
	font-family: 'Fredoka', sans-serif;
	margin-top: 2%;
	margin-bottom: 6%;	
}
h1 {
	color: var(--text);
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	text-align:center;
  }
h2 {
	color: var(--text);
	text-align:center
}
#subtitle {
	color: var(--text);
	font-size: 1.5em;
	text-align: center;
	animation: subtitleAnim 1.5s ease-in-out infinite;
	-webkit-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
	cursor: pointer;
}
#subtitle a {
	color: #aaaaff;
	font-size: 1.4em;
}
#subtitle a:visited {
	color: #aa55ff;
}
@keyframes subtitleAnim {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}


.button {
	background-color: var(--theme-ts);
	color: var(--text);
	width: 30vw;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.2em;
	padding: 0.4em;
	text-decoration: none;
	margin-top: 15px;
	text-align: center;
	transition: transform 0.15s cubic-bezier(0, 0.55, 0.45, 1);
}
.button:hover {
	transform: scale(1.15);
}
.button.play:hover {
	transform: scale(1.61);
}
.buttons {
	padding-top: 30px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40vw;
	margin: 0;
}
.play {
	margin: 20px;
	transform: scale(1.3);
}
.small {
	width: 20vw;
}	
body {
	box-sizing: border-box;
}
.bottom {
	margin-top: 30px;
	z-index: 2;
	font-size: 0.8em;
	color: var(--text-secondary);
	font-family: 'Fredoka', sans-serif;
	text-align: center;
}
.bottom p {
	margin: 0 9px;
}
.bottom p a {
	color: #aaaaff;
}
.infboxes {
	display: flex;
	justify-content: center;
}
.square {
	width: 150px;
	height: 75px;
	background-color: var(--theme-ts);
	display: inline-block;
	margin: 20px;
	text-align: center;
}
  .intxtbig {
	font-size: 18px;
	margin-top: 15px;
	color: var(--text);
}
  .intxtsml {
	font-size: 9px;
	margin-top: 5px;
	color: var(--text);
}  
a {
	color: rgb(223, 255, 170);
}

#navbar #top-bar {
	background-color: var(--background);
  }