body {
  font-size: 12px;
  background: var(--background);
  border-style: none;
  font-family: 'Fredoka', sans-serif;
  color: var(--text);
}

.sound {
  width: 95px;
  height: 170px;
  margin: 4px;
  background-color: var(--theme);
}

#section{
  font-size: large;
}
.download {
  background-color: var(--background);
  color: var(--text-secondary);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.name {
  text-align: center;
  font-size: 15px;
}
#instants_container {
  margin: 30px auto 0;
  text-align: center;
  border-style: none;
}
.instant {
  position: relative;
  vertical-align: top;
  width: 94px;
  border-style: none;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
  word-wrap: break-word;
}
.small-button {
  width: 94px;
  height: 89px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 3px;
  margin-top: 0px;
  border-style: none;
  position: absolute;
  background: url(../img/button.png) no-repeat;
  cursor: pointer;
}
.small-button:active {
  background: url(../img/button-pressed.png) no-repeat;
  cursor: progress;
}
.small-button-background {
  width: 86px;
  height: 84px;
  margin-top: 3px;
  margin-left: 6px;
  position: absolute;
}
.small-button-shadow {
  width: 94px;
  height: 89px;
  margin-bottom: 5px;
  background: url(../img/button-shadow.png) no-repeat;
}
.circle {
  border-radius: 50%;
}
#soundsContainer {
  display: flex;
  flex-wrap: wrap;
}
#soundsContainer > div {
  padding: 5px;
}
.woah {
  cursor: pointer;
}

#playAllButton {
  position: fixed;
  bottom: 10px;
  right: 40px;
  background-color: var(--theme);
  color: var(--text);
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

#stopAllButton {
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: var(--theme);
  color: var(--text);
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

#speedSlider {
  appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  bottom: 50px;
  right: 0px;
  background-color: var(--background);
}

#speedValue {
  position: absolute;
  bottom: 53px;
  right: 135px;
  color: var(--text);
}

#speed {
  position: absolute;
  bottom: 53px;
  right: 160px;
  color: var(--text);
}

#volumeSlider {
  appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  bottom: 80px;
  right: 0px;
  background-color: var(--background);
}

#volumeValue {
  position: absolute;
  bottom: 83px;
  right: 135px;
  color: var(--text);
}

#volume {
  position: absolute;
  bottom: 83px;
  right: 160px;
  color: var(--text);
}
		  
.ctrl {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 110px;
  width: 220px;
  z-index: 1;
  background-color: var(--theme);
}
